# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* Create a Jupyter Notebook

* Insert code and markdown cells

* Share your notebook through GitHub

Some of the popular languages that Data Scientists use are:

ordered list
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:
    ordered list
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
|--------------------|
| Java include Weka  |
|    Java-ML         |
|   Apache MLlib     |
|   Deeplearning4    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5            # This a simple arithmetic expression to mutiply then add integers

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60 # minutes into hours

3.3333333333333335

## Author
Roberto F.